body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    background-image: url(images/table.png);
    background-size: cover;
    font-weight: bold;
}

h1{
    color:goldenrod;
    font-size: 50px;
}

#message-el{
    font-style: italic;

}

#start-btn{
    width : 150px;
    background-color: goldenrod;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #010f32;
}